.columns{
    display: grid;
    grid-template-columns: 200px 75px;
}
.next-col{
    background-color: pink;
    display: grid;
    grid-template-columns: 75px;
}
.firts-col{
    background-color: lightblue;
}
.two{
    display: grid;
    grid-template-columns: 50px 1fr 75px ;
    
}
.fifty{
    background-color: lightblue;
}
.fr{
    background-color: pink;
}
.senvty-five{
    background-color: lightblue;
}