.columns{
    display: grid;
    grid-template-columns: 200px 75px;
}
.next-col{
    background-color: pink;
    display: grid;
    grid-template-columns: 75px;
}
.firts-col{
    background-color: lightblue;
}
.two{
    display: grid;
    grid-template-columns: 50px 1fr 75px ;
    
}
.fifty{
    background-color: lightblue;
}
.fr{
    background-color: pink;
}
.senvty-five{
    background-color: lightblue;
}
.three{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 10px;
    
}
.col1{
    background-color: pink;


}
.photo{
   margin-top: 20px;
   margin-left: 100px;
   width: 200px;
   height: 350px;
   box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

  

}

.cat{
    width: 200px;
    height: 200px;
  
}
.olive-paragraph{
    margin-bottom: 0px;
    color: black;
    font-size: large;
    font-weight: bold;
}
.picture-profile{
    width: 20px;
    border-radius: 150px;
    display: inline-block;
    vertical-align: middle;
    object-fit: cover;
}
.mutual{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}
.add{
    background-color: rgb(51, 51, 238);
    color: white;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 5px;
   
}
.grid{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    column-gap: 3px;

}