.uber-button{
  background-color: black;
  color: white;
  font-size:large;
  font-weight: bold;
  border: none;
  width: 130px;
  height: 50px;
  cursor: pointer;
  
}
.cart{
  background-color:rgb(255, 216, 20);
  color: black;
  border: none;
  font-size: large;
  font-weight: bold;
  width: 250px;
  height: 50px;
  border-radius: 25px;

}
.git-sign{
  background-color: green;
  border: none;
  font-size: large;
  font-weight: bold;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  color: white;
}