.container {
    display: flex;
}
p {
    margin: 0;
}
.cat {
    width: 50px;
    height: 50px;
    border-radius: 300px;
}
.paragraphs {
    margin-left: 10px;
}
.sipledev {
    display: flex;
}
.first-paragraphs {
    font-size: large;
    font-weight: bold;
}
.second-paragraphs {
    width: 350px;
    font-weight: 500;
    font-size: 500;
    line-height: 20px;
    color: rgb(39, 36, 36);
}
.tag-paragraphs {
    color: gray;
    font-size: large;
    font-weight: 500;
    margin-left: 5px;
   
}
.lower {
    margin-top: 20px;
    margin-left: 100px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 150px;
    display: flex;
    border-radius: 20px;

}
.square-image {
    width: 150px;
    height: 150px;
}
.lower-paragraphs {
    margin-top: 30px;
    margin-left: 20px;

}
.youtube {
    color: gray;
    font-size: large;
    font-weight: 700;
    margin-bottom: 5px;
}
.backend {
    width: 250px;
    color: black;
    font-size: large;
    line-height: 25px;
    
}