.one{
   background-color: blue;
   

}
.two{
    background-color: pink;
    
}
.grid{
    display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   margin-top: 20px;
   height: 200px;
   
}
body{
    padding-bottom: 1000px;
}