.quiz-four {
    height: 50px;
    border-color: gray;
    border-style: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.item1 {
    background-color: pink;
    width: 35px;
}
.item2 {
    background-color: pink;
    width: 35px;
}