.email{
  display: block;
}
.thanks{
  width: 200px;
  display: inline-block;
  vertical-align: middle;
}
.google{
  width: 150px;
  margin-left: 150px;
}
.search{
  width: 500px;
  height: 55px;
  border-radius: 30px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
  display: block;
}
.first{
  width: 200px;
  height: 30px;
  font-size: large;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}
.second{
  width: 200px;
  height: 30px;
  font-size: large;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  vertical-align: middle;
  margin-left: 10px;

}
.email2{
  width: 400px;
  height: 30px;
  font-size: large;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  display: block;
  margin-top: 10px;
}
.signup{
  background-color: rgb(13, 164, 214);
  color: white;
  padding-left: 180px;
  padding-right: 180px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  transition: opacity 0.15s;
}
.signup:hover{
  opacity: 0.8;
}
.signup:active{
  opacity: 0.5;
}
.request{
  font-size: large;
  font-weight: bold;
  line-height: 20px;

}
.enter{
  width: 300px;
  height: 35px;
  font-weight: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border: none;
}
.destination{
  width: 300px;
  height: 35px;
  font-weight: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  border: none;
  display: block;
  margin-top: 10px;

}
.reqnow{
  background-color: black;
  color: white;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.15s;
}
.reqnow:hover{
  opacity: 0.8;
}
.reqnow:active{
  opacity: 0.5;
}
.schedule{
  color:black;
  border: none;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 35px;
  padding-left: 35px;
  margin-top: 20px;
  margin-left: 10px;
  cursor: pointer;
  transition: 0.15s;

}
.schedule:hover{
  opacity: 0.8;
}
.schedule:active{
  opacity: 0.5;
}