.first{
  width: 200px;
  border-radius: 10px;
}
.second{
  width: 500px;
  height: 500px;
  margin-left: 100px;
 object-fit: cover;
 object-position: center;
 border-style: solid;
 border-color: red;
}
.third{
  margin-left: 100px;
  border-radius: 150px;

}