.first{
  width: 200px;
  border-radius: 10px;
}
.second{
  width: 500px;
  height: 500px;
  margin-left: 100px;
 object-fit: cover;
 object-position: center;
 border-style: solid;
 border-color: red;
}
.third{
  margin-left: 100px;
  border-radius: 150px;

}
.search-one{
  border-radius: 5px;
  border-color:grey;

}
.search-shadow{
  width: 500px;
  height: 55px;
  border-radius: 30px;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  margin-top: 20px;
  margin-left: 20px;
  font-size: 16px;
}
.email{
  color: grey;
}
.email-box{
  width: 200px;
}
.clicking{
  color: grey;
}
.agree{
  background-color:rgb(100, 100, 212);
  border: none;
  color:white;
  padding-left:100px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 100px;
  border-radius:30px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  
  
}
.fourth{
  border-radius: 100px;
  width: 50px;
  vertical-align: middle;
}
.cart{
  margin-left: 10px;
  vertical-align: middle;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
 
}
.tweet{
  background-color:rgb(75, 206, 250);
  color: white;
  font-size: large;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  transition: 0.15s;

}
.tweet:hover{
  opacity: 0.8;
}
.tweet:active{
  opacity: 0.5;
}