.uber-button{
  background-color: black;
  color: white;
  border: none;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.15s;

}
.uber-button:hover{
  opacity: 0.8;

}
.uber-button:active{
  opacity: 0.5;
}
.amazon-button{
  background-color: yellow;
  border: none;
  border-radius:20px;
  width: 250px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;

}
.amazon-button:hover{
  background-color: blue;
  color: white;
}
.amazon-button:active{
  background-color: red;
  color: white;
}
.git-button{
  background-color: rgb(26, 170, 26);
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  transition: background-color 0.15s;
}
.git-button:hover{
  background-color: red;
  color: blue;
  box-shadow: 10px 10px 10px 2px rgb(136, 124, 124);

}
.git-button:active{
  background-color: brown;
}
.get-button{
  background-color:blueviolet;
  color: white;
  border: none;
  border-radius: 5px;
  width: 150px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;

}
.get-button:hover{
  opacity: 0.8;
}
.get-button:active{
  opacity: 0.5;
}
.download{
  background-color: rgb(237, 242, 247);
  border-color: black;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.15s;
}
.download:hover{
  background-color: black;
  color: white;
}
.download:active{
  background-color: blue;
}
.linkedin{
  background-color: blue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 250px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
  transition: opacity 1s;

}
.linkedin:hover{
  opacity: 0.7;
}
.linkedin:active{
  opacity: 0.4;
}
.save{
  color:blue;
  border-color: rgb(131, 131, 245);
  border-radius: 20px;
  width: 100px;
  height: 50px;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
  transition: opacity 1s;
}
.save:hover{
  opacity: 0.7;
}
.save:active{
  opacity: 0.5;
}
a:hover{
  color: orange;

}
.nike{
  color: black;
  font-size: large;
  font-weight: bold;
}
.price{
  color: green;
}
.add{
  background-color: yellow;
  border: none;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  border-radius: 20px;
  cursor: pointer;
}
.add:hover{
  opacity: 0.8;
}
.add:active{
  opacity: 0.5;
}
.buy{
  background-color: orange;
  margin-left: 10px;
  border: none;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  font-size: large;
  font-weight:bold;
  cursor: pointer;

}
.buy:hover{
  opacity: 0.8;
}
.buy:active{
  opacity: 0.5;
}