button{
  background-color: black;
  color: white;
  border: none;
  font-size: large;
  font-weight: bold;
  width: 150px;
  height: 50px;
  cursor: pointer;
  transition: background-color 0.15s;

}
button:hover{
  opacity: 0.8;

}
button:active{
  opacity: 0.5;
}