.subscribe-button{
  background-color: rgb(233, 11, 11);
  color: white;
  border: none;
  width: 105px;
  height: 50px;
  border-radius: 5px;
  cursor: pointer;
}
.subscribe-button:hover{
  opacity: 0.8;
}
.subscribe-button:active{
  opacity: 0.3;
}