.square{
    background-color: red;
    width: 100px;
    height: 100px;
}
.green{
    background-color: green;
    border-radius: 80px;
    width: 100px;
    height: 100px;
   
}
.services{
   border-width: 1px;
   border-style: solid;
   margin-left: 20px;
   border-color: rgb(150, 150, 150);
   width: 300px;
   padding-left: 15px;
   padding-bottom: 20px;

}