.header{
    height: 55px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.left-section{    
    display: flex;
    align-items: center;

}
.hamburger-menu {
    height: 25px;
    margin-left: 25px;
    margin-right: 20px;
}
.youtube-logo {
    height: 20px;
}
.middle-section {
    flex: 1;
    margin-left: 70px;
    margin-right: 35px;
    max-width: 500px;
    display: flex;
    align-items: center;
}
.search-button {
    height: 50px;
    width: 66px;
    border-width: 1px;
    border-style: solid;
    /* border-color: rgb(245, 240, 240); */
    margin-left: -1px;
    margin-right: 10px;
}
.search-bar {
    height: 45px;
    width: 400px;
    padding-left: 10px;
    font-size: 16px;
    border-width: 1px;
    border-style: solid;
    border-color:blue;
    border-radius: 5px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.05);

}
.search-icon {
    width: 25px;
    margin-top: 4px;
   

    
}


.voice-search-button {
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
}
.voice-search-icon {
    height: 25px;
    margin-top: 5px;

}


.search-bar::placeholder {
    font-family: Roboy, Arial;
    font-size: 16px;
   
}
.right-section {
    background-color: rgb(9, 89, 116);
    width: 200px;
}