.sidebar {
    position: fixed;
    left: 0;
    bottom:0;
    top: 50px;
    background-color: white;
    width: 75px;
    z-index: 200;
}
.sidelink {
    height: 76px;
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidelink:hover {
    background-color: rgb(235, 233, 233);
}
.sidelink img {
    height: 25px;
    margin-bottom: 4px;
}
.sidelink div {
    font-family: Roboto, Arial;
    font-size: 10px;
    font-weight: 100;
}

